---
const {game, btn, preorder, data} = Astro.props
const {platforms, slides_all} = data;
---
<section class="hero">
  <slot/> <p hidden>header slot</p>
  
  <div class="slider">
    {slides_all.map(a => <img class="slide" src={a.url} alt="a"/>)}
  </div>

  <div class="title_wrapper">
    <div class="_title">
      {game.name.map(a => <h1 class="stroke">{a.p}</h1>)}
    </div>
    <div class="buttons">
      <button class="learn" >{btn.learn}</button>
      <a href="https://store.steampowered.com/app/3000460/The_Path_Into_The_Abyss/" class="reserve" >{btn.reserve}<img src="/images/icons/steam.svg" alt=""></a>
    </div>
  </div>

  <div class="platforms">
    <small class="preorder">{preorder}</small>
    <div class="buttons">
      {platforms.map((a) =>
        <a href={a.url}>
          <img src={a.image} alt={a.name} title={a.name}>
        </a>
      )}
      <div class="play_video play_pause" id="play_video">
        <p class="play">{btn.play}</p>
        <p class="pause">{btn.pause}</p>
        <img src="/images/icons/play.svg" alt="">
      </div>
    </div>
  </div>
</section>

<script>
  let current = -1;
  let slides = document.getElementsByClassName("slide");

  window.addEventListener("load", carousel)

  function carousel() {
    current = (current + 1) % slides.length;
    Array.from(slides).forEach(slide => slide.classList.remove('active'));
    slides[current].classList.add('active');
    setTimeout(carousel, 10000);
  }
</script>

<style lang="scss">
  .hero {
    gap: 5vw;
    min-height: 90vh;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    .slider {
      top: 0;
      left: 0;
      z-index:-10;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      
      display: flex;
      justify-content: center;
      img {
        min-height: 100%;
        min-width: 100%;
        display: none;
        animation: slide_in_bottom ease-out 50ms;
      }
      .active {
        display:block;
      }
    }
    .title_wrapper {
      ._title { 
        padding: 5vw 0;
        max-width: 600px;
        text-shadow: 1px 1px 0px #00000038;
      }
      .buttons {
        gap: 1em;
        display: flex;
        .learn {
          padding: 15px;
          &:hover {background: none;}
        }
        .reserve {
          gap: 1em;
          display: flex;
          align-items: center;

          padding: 15px;
          font-weight: 400;
          border-radius: 5px;
          background: var(--violet);
          &:hover img {
            animation: slide_in_right 250ms linear;
          }
        }
      }
    }
    .platforms {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .preorder {
        max-width: 400px; 
      }
      .buttons {
        gap: 1vw;
        display: flex;
        align-items: center;
        .play_video {
          gap: 1em;
          padding: 1em;
          color: grey;
          cursor: pointer;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          font-weight: 600;
          .play {display: block;}
          .pause {display: none;}
          &:hover {text-decoration: underline dashed var(--violet);}
        }
        .pause {
          .play {display: none;}
          .pause {display: block;}
        }
      }
    }
  }
  @media (max-width:1000px) {
    .hero {
      padding: 15px 25px;
      .slider img {
        width: auto;
        height: 100%;
        min-width: auto;
      }
      .title_wrapper .buttons {
        .learn, .reserve {
          padding: 2vw;
        }
      }
      .platforms {
        gap: 2em;
        flex-direction: column;
        .buttons .play_video {
          margin-left: auto;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .hero .title_wrapper .buttons {
      .learn, .reserve { padding: 2vw 1.2vw; }
    }
  }
</style>